@media (max-width: 991px) {
  .search-box .site-search .search_form input,
  .login-box .systemForm input.input-box {
    font-size: 16px;
  }
  .visual-filters-container .slick-arrow.slick-prev {
    left: 0px;
  }
  .check-order-static-form {
    width: 100%;
  }
  .product-carousel-padding {
    padding: 0 15px;
  }
  .search_box ul li {
    padding: 3px 10px;
  }
  .slide-img .content.content-mobile {
    display: block;
  }
  .cartItemProducts .productItem .image-info {
    width: 20%;
    margin-bottom: 10px;
  }
  .cart .title {
    text-align: left !important;
    margin: 10px 0;
  }
  .slide-img .content.content-desk {
    display: none;
  }
  .search-box {
    top: 52px;
    z-index: 9;
  }
  /* mobile menu design  */
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    position: relative;
  }
  .header .navbar .navbar-collapse .menu-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    transition: all 0.5s;
  }
  .header .navbar .navbar-collapse .menu-mobile .menu-mobile-sidebar {
    max-width: 80%;
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
  .header .navbar .navbar-collapse .mobile-heading {
    display: block;
    padding: 15px;
    /* max-width: 80%; */
    width: 100%;
    position: relative;
    background-color: #000;
  }
  .header .navbar .navbar-collapse .mobile-heading h2 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px;
  }
  .header .navbar .navbar-collapse .mobile-heading .close {
    position: absolute;
    right: 20px;
    top: 14px;
    color: #fff;
    opacity: 1;
    font-size: 20px;
    background-image: url(../img/sprite_icons.svg);
    /* background-size: 222px; */
    background-position: -1020px 0px;
    width: 35px;
    height: 20px;
    cursor: pointer;
  }
  .help-mobile-sidebar li a {
    padding: 15px 0;
    display: block;
  }

  .header
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .dropdown_menu
    .level-2
    .navbar-nav {
    max-width: 100%;
  }

  .header .navbar .navbar-collapse .navbar-nav {
    padding: 15px;
    background-color: #fff;
    max-height: calc(100% - 100px);
    min-height: calc(100% - 100px);
    overflow: auto;
    /* max-width: 80%; */
    width: 100%;
    flex-direction: column;
  }
  .header .navbar .navbar-collapse .account-nav {
    height: 46px;
    display: flex;
    padding: 4px 0;
    background: #000;
  }
  .header .navbar .navbar-collapse .account-nav li {
    width: 50%;
  }
  .header .navbar .navbar-collapse .account-nav li:not(:last-child) {
    border-right: 1px solid #fff;
  }
  .header .navbar .navbar-collapse .account-nav li a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    color: #fff;
  }
  .header .navbar .navbar-collapse .account-nav li span {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
  }
  .header .mobile-screen-icon {
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .wishlist-text,
  .login-text,
  .cart {
    /* margin: 0 5px; */
  }
  .search_box .btn {
    padding: 0px 6px;
  }
  .header .navbar .search_box {
    width: 25%;
    line-height: 0;
    align-items: baseline;
  }

  .header .navbar {
    width: 100%;
    padding: 10px 10px;
  }

  .header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown_menu {
    position: static;
    padding: 0px;
  }
  .header
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .dropdown_menu
    .level-2
    .nav-item
    .dropdown_menu_level-3 {
    position: static;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.first {
    padding: 17px 14px 17px 0px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 17px 0px;
  }

  .header
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .dropdown_menu
    .level-2
    .navbar-nav
    .nav-item
    .nav-link {
    padding: 15px 0px;
  }
  .stripeImage {
    position: absolute;
    right: 0px;
    background-image: url(../img/sprite_icons.svg);
    background-position: -425px 13px;
    width: 35px;
    height: 55px;
    cursor: pointer;
  }
  .header
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .dropdown_menu
    .level-2
    .nav-item
    .dropdown_menu_level-3,
  .header
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .dropdown_menu
    .level-2
    .nav-item
    .dropdown_menu_level-3
    .level-3
    .levelthreemenu
    ul {
    max-height: unset;
    height: auto;
  }
  .haslevel4 {
    opacity: 1 !important;
  }
  .search_box {
    /* display: none; */
  }

  .header .navbar .site-logo {
    width: 50%;
  }
  .search-icon-mobile {
    display: block;
    background-image: url(../img/sprite_icons.svg);
    background-position: 0px 0px;
    width: 35px;
    height: 20px;
    cursor: pointer;
  }

  .desktop_only {
    display: none !important;
  }
  .mobile_only {
    display: block !important;
  }

  .fullbleed .text-content {
    padding: 20px;
  }
  .fullbleed .text-content .fullbleed-center h2 {
    font-size: 20px;
  }
  .fullbleed .text-content .fullbleed-center p {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .fullbleed .text-content .fullbleed-center a {
    width: 100%;
    margin-top: 0px;
    font-size: 12px;
  }

  .collections_slide .slide_content .slick-dots {
    left: 20px;
    right: unset;
  }
  .collections_slide .slide_content .item .img_content {
    /* bottom: 0; */
    left: 0%;
    /* transform: translateX(-50%); */
    text-align: center;
    width: 100%;
    padding: 10px;
  }
  .collections_slide .slide_content .item .img_content h4 {
    font-size: 30px;
  }
  .collections_slide .slide_content .item .img_content p br {
    display: none;
  }
  .collections_slide .slide_content .item .img_content a {
    width: 100%;
  }
  .footer .footer-wrapper .flex-content {
    flex-direction: column;
    width: 100%;
  }

  .footer .footer-wrapper .flex-content .footer-items {
    padding: 0px;
    width: 100%;
  }

  .footer .footer-wrapper {
    width: 100%;
    padding: 0px 00px;
  }
  .footer
    .footer-wrapper
    .flex-content
    .footer-items
    .footer-navigation
    .dropdown-arrow_icon {
    position: absolute;
    right: 0px;
    transform: rotate(268deg);
  }
  .new_in .content_new_in {
    padding: 10px 0px;
  }

  /* product details  css */
  .product_details.main_section {
    padding: 0px 0px;
  }
  .product_images_slide {
    margin-bottom: 20px;
  }

  .product_images_slide .slick-dots {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    width: auto;
    left: 25px;
  }
  .product_images_slide ul.slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  .product_images_slide ul.slick-dots li button {
    border: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    overflow: hidden;
    text-indent: -999px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #888;
  }
  .product_images_slide ul.slick-dots li.slick-active button {
    background: #888;
  }

  .product_images_slide .item {
    width: 100%;
    position: relative;
  }
  .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
  }
  .navbar-light .navbar-brand img {
    width: 100%;
  }

  .header .navbar-light .navbar-toggler-icon {
    background-image: unset;
    position: relative;
    padding-left: 17px;
  }
  .header .navbar-light .navbar-toggler-icon::before {
    content: "";
    position: absolute;
    left: 0;
    background: #000;
    box-shadow: 0 0.25rem 0 0 #000, 0 0.5rem 0 0 #000;
    top: 7px;
    width: 17px;
    height: 2px;
  }

  /* list page css */
  .search-banner-mobile {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 14px 12px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .search-banner-arrow-back-mobile {
    -ms-flex: 1;
    flex: 1;
    padding: 0;
  }
  .search-banner-result-count-mobile {
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    text-align: right;
    font-size: 12px;
    font-family: Roboto, sans-serif;
  }
  .search-banner-title-mobile {
    -ms-flex: 2.4;
    flex: 2.4;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0px 6px;
    font-size: 19px;
    font-family: var(--fontFamily);
    font-weight: bold;
  }
  .icon-arrow-black-left {
    transform: rotate(90deg);
    content: "";
    display: inline-block;
    background-image: url(../img/sprite_icons.svg);
    background-position: -586px 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
  }
  .product_list_page {
    width: 100%;
    padding: 0px;
  }

  .product-results-container {
    padding: 0px;
    font-family: Roboto, sans-serif;
  }
  .product_lists .col-md-3,
  .product_lists .col-6 {
    padding: 0px 5px;
  }
  .search-result-options {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0px;
    background: #fff;
    z-index: 9;
    /* display: unset; */
  }
  .sort-order {
    width: 100%;
  }
  .sort-order .sort-label .sort-selected-option {
    font-size: 20px;
    font-weight: bold;
  }
  .sort-order .sort-label {
    padding: 10px 20px;
  }
  .sort-order .sort-options {
    padding: 5px 20px;
    position: static;
    display: block;
  }
  .search-result-options .showing-results {
    position: absolute;
    bottom: 50px;
    padding: 10px 20px;
    font-size: 18px;
  }
  .product-carousel-title {
    font-size: 25px;
  }
  .you_like_slide .item .title-body a {
    font-size: 12px;
  }

  .mobile-refinement-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 14px;
    padding: 0.875rem;
  }
  .mobile-refinement-bar.sticky {
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 2;
  }

  .sticky {
    z-index: 1;
  }
  .mobile-refinement-bar .filter-sort-button-holder {
    background-color: #fff;
    display: inline-block;
    position: relative;
    -ms-flex: 1;
    flex: 1;
    margin-right: 14px;
  }

  .mobile-refinement-bar .filter-results {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    height: 100%;
    font-family: var(--fontFamily);
    font-size: 0.75rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
  }
  .mobile-refinement-bar .filter-results::after {
    content: "+";
    position: absolute;
    right: 10px;
  }
  .mobile_sortby,
  .mobile_filtter {
    width: 50%;
    float: left;
    max-width: 50% !important;
    font-size: 15px;
    text-transform: uppercase;
    top: auto;
    position: fixed;
    bottom: 0;
    text-align-last: center;
    left: 0px;
    height: 45px !important;
    z-index: 10;
    border-radius: 0;
    background: #fff;
    font-weight: bold;
    color: #000;
  }
  .mobile_filtter {
    float: right;
    width: 50%;
    right: 0px;
    left: unset;
  }

  .refinements-holder {
    padding: 0;
  }
  .filter_box,
  .refinements {
    display: unset;
  }
  .refinement.card {
    margin: 0px;
    display: block;
    width: 100%;
    /* background: gray; */
    position: static;
    max-width: 100%;
  }
  .no-product_img {
    width: 80% !important;
  }
  /* 404 css */

  .not_found_page .not_found_img .content .main-404-title {
    position: absolute;
    top: 0;
    font-size: 27px;
    margin: 15px;
  }
  .not_found_page .not_found_img .content .btn-block {
    padding: 15px;
    max-width: 100%;
    background: black;
  }
  .not_found_page .not_found_img .content .btn-block a.button {
    display: inline-block;
    font-family: var(--fontFamily);
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 40px;
    letter-spacing: 1px;
  }
  .not_found_page .not_found_img .content {
    position: static;
    top: unset;
    left: unset;
    transform: unset;
    padding: 0px;
  }
  .shop-latest-for .content-asset .shop-latest-container .shop-latest-block {
    width: 100%;
  }
  /* 404 css  end*/
  .refinements-holder .filter-header span {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
  .refinement.card .hidden_filtter {
    position: static;
    width: 100%;
  }
  .filter-title {
    font-size: 14px;
    font-weight: 400;
  }
  .refinement.card .hidden_filtter ul li {
    background: #fff;
    display: block;
    padding: 10px 20px;
  }
  .refinement.card .card-header {
    padding: 10px 20px;
    background-color: #f9f9f9;
  }
  .refinement.card .hidden_filtter ul {
    margin: 0px;
    max-height: unset;
  }
  .refinement.card .hidden_filtter ul.column {
    column-count: unset;
    column-gap: 0px;
  }
  .search-result-options.active {
    display: block;
  }
  .cartItemProducts .productItem {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .cartItemProducts .productItem .item_name {
    width: 80%;
  }
  .cartItemProducts .productItem .qty_info {
    width: 30%;
    text-align: left;
  }
  .cartItemProducts .productItem .qty_info a {
    padding: 10px 15px;
  }
  .cartItemProducts .productItem .qty_info input {
    padding: 8px 2px;
  }
  .cartItemProducts .productItem .remove {
    width: 30%;
  }
  .cartItemProducts .productItem .price_info {
    width: 30%;
  }
  .refinements-holder .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 10px;
  }

  .filter-bar {
    display: unset;
    align-items: unset;
    position: fixed;
    bottom: 45px;
    z-index: 10;
  }
  .filter-bar .filter-clearall-container {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  .filters-close-main-container {
    display: block;
    width: 100%;
    padding-left: 30px;
  }
  .filter-value {
    display: block;
  }
  .filter-bar.mobile_filter {
    display: flex;
    position: static;
    width: 100%;
    padding-top: 0;
  }
  .filter-bar.mobile_filter .filter-clearall-container {
    width: 100px;
    margin: 0;
  }
  .filter-bar.mobile_filter .filter-clearall-container a {
    font-size: 10px;
  }
  .filter-close-container {
    font-size: 9px;
  }
  .icon-close-black.icon-close-black-filter {
    transform: scale(0.5);
    left: -20px;
  }
  .filter-bar.mobile_filter .filters-close-main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .filter-bar.mobile_filter .filter-value {
    margin-right: 20px;
  }
  .wish-list-icon.single {
    top: 77px;
  }
  .wish-list-icon.single .wishlist_blank.add,
  .wish-list-icon.single .wishlist_blank.wishlist-active {
    margin-top: -10px;
  }
  #bb-footer-original .newsletter-social .content-asset .form-box {
    width: 100%;
  }
  .privacy-policy-newsletter {
    text-align: left;
  }
  #bb-footer-original .button-signup-container .button-signup {
    width: 100%;
  }
  .footer-containerp {
    padding: 10px 0px;
  }
  .social-media h4 {
    margin-top: 20px;
    font-size: 20px !important;
  }
  .visual-filters .visual-filter-texts h6 {
    margin-top: 10px;
  }
  .empty-cart-box .left-box h5 {
    text-align: left;
  }
  .empty-cart-box {
    background: #f6f6f6;
    padding: 20px 20px;
  }
  .empty-cart-box .left-box {
    background: transparent;
  }

  .empty-cart-box .right-box a {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 10px 0;
    margin: 0;
  }
  .login {
    position: static;
  }
  .login .dropdown-menu-account {
    left: unset;
  }
  .wishlist-text {
    width: 20px;
  }
  .login .dropdown-menu-account ul li a {
    padding: 15px 10px;
  }
  .carts.carts-value {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .login-box .systemForm {
    transform: unset;
    position: static;
  }
  .login-box {
    padding: 10px 0px;
  }
  .content-asset .need-help-customer-service {
    padding: 40px 15px;
  }
  .cart-full-count .minicart-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .minicart-wrapper .checkout-continue a {
    margin: 15px auto;
    text-align: center;
    padding: 22px 0;
  }
  .minicart-wrapper .remove-icontop {
    display: inline-block !important;
  }
  .product-summary .product-cart .p-name span.name {
    line-height: 16px;
  }
  .estimated-total .sub-total-label,
  .estimated-total .sub-total {
    margin-top: 20px;
  }
  .product_list_page {
    margin-top: 0;
  }
  .responsible-page-wrapper .content-on-bg p {
    line-height: 22px;
    font-size: 13px;
  }
  .text-columns {
    width: 70%;
  }
  .d-beni-boxx {
    padding-bottom: 40px;
  }

  /* mobile-filter */
  .mobile-filter-bg {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9991;
  }
  .mobile-filter-bg .mobile-filter-bg-white {
    background: #f9f9f9;
    width: calc(100% - 57px);
    height: 100vh;
    overflow: scroll;
  }
  .mobile-filter-bg .mobile-header-title,
  .mobile-filter-box .mobile-filter-header {
    display: flex;

    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-filter-bg .mobile-header-title h5,
  .mobile-filter-box .mobile-filter-header h5 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }
  .mobile-filter-bg .mobile-header-title .icon-close-black {
    position: static;
    opacity: 1;
  }
  .sort-options-mobile .group hr {
    border-top: 1px solid rgba(0, 0, 0);
  }
  .sort-options-mobile .radio-button-sort {
    padding: 10px 20px;
  }

  .radio-button-sort input[type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  .radio-button-sort input[type="radio"]:checked + label,
  .radio-button-sort input[type="radio"]:not(:checked) + label {
    position: relative;
    /* padding-left: 28px; */
    width: 100%;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
  }
  .radio-button-sort input[type="radio"]:checked + label:before,
  .radio-button-sort input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #cacaca;
    border-radius: 100%;
    background: #fff;
  }
  .radio-button-sort input[type="radio"]:checked + label:after,
  .radio-button-sort input[type="radio"]:not(:checked) + label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .radio-button-sort input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .radio-button-sort input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .mobile-filters {
    overflow: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .mobile-filters .box {
    border: 0;
    padding: 0;
    transition: max-height 0.5s;
    background-color: #fff;
    width: 100%;
    margin: 5px 0px;
  }
  .clear-apply-wrapper {
    background: #fff;
    border-top-color: #cacaca;
    border-top-style: solid;
    bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    border-top-width: 1px;
    padding: 31px 10px;
  }
  .clear-apply-wrapper .button-container {
    -ms-flex: 1;
    flex: 1;
    margin: 0px 10px;
  }
  .clear-apply-wrapper button {
    font-size: 14px;
    height: 44px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  .clear-apply-wrapper button.clear {
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
  }
  .clear-apply-wrapper button.clear:hover {
    color: #fff;
    background: #000;
    border: none;
    opacity: 1;
  }

  .addtocartsticky {
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 105;
    opacity: 1;
    transition: opacity 0.3s;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
  }
  .login .dropdown-menu-account {
    width: 180px;
  }
  .slide-img.banner-top .content-text .button {
    display: block;
    width: 51%;
  }
  .content-asset {
    width: 70%;
    margin: 0 auto;
  }
  .new_in .content_new_in .swiper-header {
    margin: 0;
    text-align: center;
  }
  .btn-shop {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .shop_category .img-box {
    margin: 10px 0;
  }
  .social-media .content-asset {
    padding: 0 0px;
  }
  .shop_by_category.kids .shop_by_category_items .item {
    width: 25%;
  }
  .shop_by_category .shop_by_category_items .item h5 {
    font-size: 16px;
  }
  .dresses_box .dresses_item .item {
    width: 50%;
  }
  /* ===================== news latter================= */
  #bb-footer-original .newsletter-social .content-asset .form-box .input-error {
    position: absolute;
    top: 32%;
    right: -17px;
  }
  .newsletter {
    padding: 20px 15px;
  }
  .footer {
    background-color: transparent !important;
  }
}

@media (max-width: 767px) {
  .footer-container .copyright {
    padding: 5px 0px;
    text-align: center;
  }
  .shop_by_category {
    padding: 0;
  }
  .fit_guide .fit_guide_items .item .content h3 {
    font-size: 20px !important;
  }
  .fit_guide .fit_guide_items .item .content a {
    font-size: 14px !important;
  }
  .dresses_box .dresses_item .item {
    padding: 5px;
  }
  .shop_by_category.kids .shop_by_category_items .item {
    width: 50%;
  }
  #bb-footer-original .newsletter-social .content-asset h5 {
    font-size: 18px;
  }
  .new_in,
  .fullbleed {
    margin-bottom: 30px;
  }
  .collections_slide {
    margin-top: 0px;
  }
  .content-asset {
    width: 100%;
  }
  .collections_slide {
    margin-bottom: 0px;
  }

  .footer .footer-wrapper .flex-content .footer-items .footer-link-content {
    transition: none;
    transition-delay: inherit;
  }
  .dekshtop-bg-design-showmob {
    display: none;
  }
  .mobile-bg-design-showmob {
    display: block !important;
  }
  .empty-cart-box .left-box h5 {
    font-size: 25px;
  }
  .header
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .dropdown_menu
    .level-2
    .nav-item
    .dropdown_menu_level-3 {
    padding: 20px 10px;
  }
  .complete-registration {
    flex-direction: column;
  }
  .complete-registration .complete-registration__body {
    padding: 20px 0;
  }
  .footer-container {
    padding: 10px 0;
  }
  .newsletter-social {
    padding-top: 0;
    padding: 20px 0px;
  }
  .copyright-notice {
    padding: 0px 15px;
  }
  .footer .footer-wrapper .flex-content .footer-items .footer-navigation {
    padding: 12px 0px;
  }
  .footer
    .footer-wrapper
    .flex-content
    .footer-items
    .footer-link-content
    .link-text {
    padding: 8px 0px;
  }
  .complete-registration .img-box img {
    width: 100%;
  }
  .store-model-overlay .store-model-body {
    padding: 30px 15px;
    position: static;
    transform: unset;
  }
  .store-model-overlay .store-model-body .titel h2 {
    text-align: left;
  }
  .store-model-overlay .store-model-body .model-content .srtor-search-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
  }
  .store-model-overlay
    .store-model-body
    .model-content
    .srtor-search-box
    input.form-control {
    margin: 10px 0;
    width: 100%;
  }
  .store-model-overlay .store-model-body .model-content {
    padding: 0 15px;
  }
  .store-model-overlay
    .store-model-body
    .model-content
    .srtor-search-box
    span.location-icons {
    position: absolute;
    top: 60%;
    left: 0;
  }
  .store-model-overlay
    .store-model-body
    .model-content
    .srtor-search-box
    .search-stores-btn {
    width: 85%;
  }
  .cartItemProducts .productItem .qty_info a {
    padding: 6px 13px;
  }

  .cartItemProducts .productItem .remove a img {
    width: 18px;
  }
  .wish-list-item .wish-list-wraper .wishlist-close img {
    width: 10px;
  }
  .visual-filters
    .visual-filters-container
    .category-filter
    .item
    .category-filter-title
    a {
    font-size: 12px;
  }
  .responsible-page-wrapper .cont-width {
    width: 100%;
    margin: 0 auto;
  }
  .responsible-page-wrapper .content-on-bg {
    position: absolute;
    width: 100%;
    top: 41%;
    left: auto;
    padding: 0px 15px;
    bottom: 50%;
    transform: translate(0%, -50%);
  }
  .responsible-page-wrapper .video-cont-1 {
    padding: 30px 0px;
  }
  .footer-news-leter input {
    width: 100%;
  }
  .footer-news-leter {
    padding: 20px 15px;
  }
  .footer-sign-up h3 {
    font-size: 20px;
    margin: 15px 0px;
  }
  .d-beni-boxx {
    text-align: center;
    margin-bottom: 63px;
  }
  .show-0n-dekhtop .decode-contnt {
    top: 35%;

    padding: 0px 62px;
  }
  .search_box ul li {
    padding: 0 3px;
  }
  .slide-img.banner-top .content-text .button {
    display: block;
    width: 80%;
  }
}
@media (max-width: 1010px) {
  .header .navbar .search_box .searchbox input {
    width: auto;
  }
}
@media (max-width: 412px) {
  .cartItemProducts .productItem .qty_info a {
    padding: 3px 8px;
  }
  .cartItemProducts .productItem .item_name strong {
    font-size: 15px;
  }
  .cartItemProducts .productItem .price_info span {
    font-size: 18px;
  }
  .cartItemProducts .productItem {
    align-items: unset;
  }
}
@media (max-width: 370px) {
  .search_box ul li {
    margin: 0;
  }
  .responsible-page-wrapper .content-on-bg {
    top: 26%;
  }
}
