.storelocater {
  width: 100%;
  margin-top: 50px;
}

.storelocater h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.storelocater .store-search_box {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efefef;
  padding: 10px 10px;
}
.storelocater .store-search_box p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #000;
}
.storelocater .store-search_box input {
  padding: 12px 10px;
  font-size: 14px;
  outline: none !important;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  border-radius: 0;
  width: 400px;
}
.map-cont {
  width: 100%;
  height: 400px;
  overflow-y: auto;
}
.map-cont ul {
  min-height: 400px;
  overflow: hidden;
}
.map-cont ul li {
  padding: 15px 5px 15px 35px;
  min-height: 30px;
  list-style: none;
  border-top: 1px dotted #ddd;
  position: relative;
}
.map-cont ul li img {
  position: absolute;
  left: 0;
}
.map-cont ul li .name {
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 991px) {
  .store-search_box {
    flex-direction: column;
  }
  .storelocater .store-search_box p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .storelocater .store-search_box .input-box {
    width: 100%;
  }
  .storelocater .store-search_box input {
    width: 100%;
  }
  .map-cont {
    margin-bottom: 20px;
  }
}

