/* wishlist */
.wishlist {
  padding: 34px 5px;
}
.wishlist .containers {
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 15px;
}
.account-top-section {
  padding: 37px 40px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #e9e9e9;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.account-top-section .wishlist-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  font-size: 18px;
  font-family: var(--fontFamily);
}
.account-top-section .content-asset {
  margin: 0;
}
.account-top-section .content-asset p {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--fontFamily);
  letter-spacing: 0.5px;
  margin: 0px 0px 10px 0px;
  max-width: 760px;
  line-height: 24px;
}
.section-actions .add-all-to-cart {
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--fontFamily);
  background: transparent;
  border: 1px solid #000;
  color: #000;
}
.section-actions {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.section-actions .share-button {
  margin-left: 17px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  padding: 0;
  font-size: 12px;
}
.section-actions .share-button .icon-share {
  content: "";
  display: inline-block;
  background-image: url("../../img/sprite_icons.svg");
  background-position: -1386px -221px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  margin-right: 10px;
}

.product-flext {
  display: flex;
  width: 100%;
  row-gap: 0;
  column-gap: 25px;
  flex-wrap: wrap;
}
.product-flext .product {
  flex: 0 0 200px;
  margin-bottom: 20px;
}
.product-flext .product:first-child {
  margin-left: 0;
}
.product-flext .product .tile-body {
  width: 100%;
}
.product-flext .product .tile-body .product-color {
  color: #000;
  text-transform: uppercase;
  display: block;
  padding-top: 9px;
  font-size: 10px;
}
.product-flext .product .tile-body .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.product-flext .product .tile-body h4 {
  font-size: 14px;
  font-weight: 400;
}
.select-box {
  width: 100%;
}
.select-box select {
  margin: 10px 0;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  background: #f6f6f6;
  border: none;
  text-transform: uppercase;
}

.add-to-cart--wishlist {
  width: 100%;
  background: transparent;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #000;
  text-transform: uppercase;
  margin-top: 45px;
  padding: 11px 30px;
}
.section-actions .add-all-to-cart:hover,
.add-to-cart--wishlist:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}
.promotion-text {
  color: red;
  font-size: 12px;
  margin: 0;
  text-transform: capitalize;
}

.wl-social-sharing {
  display: flex;
  border: 1px solid #e9e9e9;
  background: #fff;
  position: absolute;
  margin: auto;
  bottom: -25px;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0px 13px;
  max-width: 272px;
  height: 57px;
  align-items: center;
}
.icon {
  content: "";
  display: inline-block;
  background-image: url(../../img/sprite_icons.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 24px;
  text-indent: -9999px;
}
.icon-mail {
  background-position: -1470px -4px;
}
.icon-facebook-black {
  background-position: 7px -220px;
}
.icon-pintrest {
  background-position: -1499px -216px;
}
.icon-twitter-black {
  background-position: -1185px -220px;
}
.icon-close-black-md {
  background-position: -960px 0;
}
.product-tile__wishlist-cta {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.remove-from-wishlist {
  text-transform: uppercase;
  background-color: transparent;
  color: #000;
  display: inline-block;
  width: auto;
  position: relative;
  font-weight: 700;
  padding: 8px;
}

.icon-whatsapp {
  background-image: url(../../img/whatsapp.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.remove-from-wishlist::before {
  position: relative;
  margin-right: 5px;
  top: 5px;
  content: "";
  display: inline-block;
  background-image: url(../../img/sprite_icons.svg);
  background-position: -957px 0;
  background-repeat: no-repeat;
  width: 22px;

  height: 22px;

  text-indent: -9999px;
}

@media only screen and (max-width: 991px) {
  .section-actions .add-all-to-cart {
    width: 90%;
  }
  .product-flext {
    flex-direction: column;
  }
  .product-flext .product {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .product-flext .product .image-container,
  .product-flext .product .tile-body {
    width: 50%;
  }
  .product-flext .product .tile-body {
    padding-left: 10px;
  }
  .add-to-cart--wishlist {
    margin-top: 0;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  .section-actions .add-all-to-cart {
    width: 100%;
    padding: 10px 0;
  }
  .section-actions {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-actions .share-button {
    margin-top: 32px;
  }
}
